<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tutorials</key>
	<dict>
		<key>tutorialId1</key>
		<dict>
			<key>steps</key>
			<array>
				<dict>
					<key>image</key>
					<string>tutorialId1_item0_frame25</string>
					<key>id</key>
					<string>step1Tutorial1</string>
					<key>name</key>
					<string>algoName</string>
					<key>description</key>
					<string>algoDesc</string>
					<key>frameFolder</key>
					<string>item_0</string>
				</dict>
				<dict>
					<key>image</key>
					<string>tutorialId1_item1_frame30</string>
					<key>id</key>
					<string>step2Tutorial1</string>
					<key>name</key>
					<string>algoName</string>
					<key>description</key>
					<string>algoDesc</string>
					<key>frameFolder</key>
					<string>item_1</string>
				</dict>
				<dict>
					<key>image</key>
					<string>tutorialId1_item2_frame12</string>
					<key>id</key>
					<string>step3Tutorial1</string>
					<key>name</key>
					<string>algoName</string>
					<key>description</key>
					<string>algoDesc</string>
					<key>frameFolder</key>
					<string>item_2</string>
				</dict>
				<dict>
					<key>image</key>
					<string>tutorialId1_item3_frame106</string>
					<key>id</key>
					<string>step3Tutorial1</string>
					<key>name</key>
					<string>algoName</string>
					<key>description</key>
					<string>algoDesc</string>
					<key>frameFolder</key>
					<string>item_4</string>
				</dict>
			</array>
			<key>name</key>
			<string>Castle</string>
			<key>stepTotal</key>
			<integer>4</integer>
			<key>stepCompleted</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
		<key>tutorialId2</key>
		<dict>
			<key>steps</key>
			<array>
				<dict>
					<key>image</key>
					<string>tutorialId1_item0_frame25</string>
					<key>id</key>
					<string>step1Tutorial2</string>
					<key>name</key>
					<string>algoName</string>
					<key>description</key>
					<string>algoDesc</string>
					<key>frameFolder</key>
					<string>item_0 </string>
				</dict>
				<dict>
					<key>image</key>
					<string>tutorialId1_item1_frame30</string>
					<key>id</key>
					<string>step2Tutorial2</string>
					<key>name</key>
					<string>algoName</string>
					<key>description</key>
					<string>algoDesc</string>
					<key>frameFolder</key>
					<string>item_1</string>
				</dict>
			</array>
			<key>name</key>
			<string>Character</string>
			<key>stepTotal</key>
			<integer>5</integer>
			<key>stepCompleted</key>
			<integer>3</integer>
			<key>completed</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
